@font-face {
	font-family: 'Fantastaque Sans Regular';
	src: url('/fonts/fantasquesansmono-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--nc-font-sans: 'Fantastaque Sans Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--nc-font-mono: 'Fantastaque Sans Regular', Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;
	--nc-d-tx-1: #ffffff;
	--nc-d-tx-2: #989498;
	--nc-d-bg-1: #322930;
	--nc-d-bg-2: #5c545b;
	--nc-d-bg-3: #222222;
	--nc-d-lk-1: #dd464c;
	--nc-d-lk-2: #fd8b19;
	--nc-d-lk-tx: #fdcc59;
	--nc-d-ac-1: #149b93;
	--nc-d-ac-tx: #d5d3d5;
}

h1 {
	border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Source Code Pro', monospace;
  font-size: 28px;
	color: rgba(255,255,255,.70);

	&:before {
		content: '#';
		margin-right: 1ch;
	}
}

h2 {
	font-size: 1.5rem;
	line-height: 1.5;

	&:before {
		content: '##';
		margin-right: 1ch;
	}
}

h3 {
	font-size: 1.2rem;
	line-height: 1.2;

	&:before {
		content: '###';
		margin-right: 1ch;
	}
}

h4 {
	&:before {
		content: '####';
		margin-right: 1ch;
	}
}

h5 {
	&:before {
		content: '#####';
		margin-right: 1ch;
	}
}

h6 {
	&:before {
		content: '######';
		margin-right: 1ch;
	}
}

ul {
	padding-left: 0;
}

ul li {
	list-style-type: none;
	list-style-position: outside;
	padding-left: 0;
	margin-bottom: 1rem;

	&:before {
		content: '-';
		margin-right: 1ch;
	}
}

.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.inline-list {
	display: flex;
	width: 100%;
	flex-flow: row nowrap;
	justify-content: flex-start;
	list-style-type: none;
	padding-left: 0;

	li {
		margin-right: 1ch;

		&:before {
			content: '';
		}
	}
}


/* Animation */
h1 {
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */
@keyframes animated-text{
  from {width: 0;}
  to {width: 520px} /* About the length of the text. */
}

/* cursor animations */
@keyframes animated-cursor{
  from{border-right-color: rgba(255,255,255,0.75);}
  to{border-right-color: transparent;}
}